<div class="layout-footer" style="height: 106px;">
    <div class="p-grid">
        <div class="p-col">
            <img
                src="assets/layout/images/logo-white.svg"
                alt="sapphire-layout"
            />
            <div class="layout-footer-appname">PlaPlaJour</div>
        </div>
        <div class="p-col p-col-align-right">
            <div>
                <a href="#"
                    ><img
                        src="assets/layout/images/landing/icon-facebook.png"
                        alt="facebook"
                        class="footer-icon"
                /></a>
                <a href="#"
                    ><img
                        src="assets/layout/images/landing/icon-github.png"
                        alt="github"
                        class="footer-icon"
                /></a>
                <a href="#"
                    ><img
                        src="assets/layout/images/landing/icon-twitter.png"
                        alt="twitter"
                        class="footer-icon"
                /></a>
            </div>
            <div>
                <span class="ui-icon-copyright"></span>
                <span>Tous droits réservés</span>
            </div>
        </div>
    </div>
</div>
